extends layout

block content
  .jumbotron
    h1 #{websiteTitle}
    p.lead This application uses Node.js with Express framework and Jade for interface.
    //p
      a.btn.btn-primary.btn-large(href='http://expressjs.com/') Learn more &raquo;
  .row
    .col-md-4
      h2 Getting started
      p This application lets you manage employees by adding, editing and deleting employee records.
      p
        a.btn.btn-default(href='/listEmployees') Manage Employees &raquo;
    //.col-md-4
      h2 Get more libraries
      p Node Packaged Modules is a repository of software for Node.js.
      p
        a.btn.btn-default(href='https://www.npmjs.org/') Learn more &raquo;
    //.col-md-4
      h2 Microsoft Azure
      p You can easily publish to Microsoft Azure using Node.js Tools for Visual Studio. Find out how you can host your application using a free trial today.
      p
        a.btn.btn-default(href='http://azure.microsoft.com') Learn more &raquo;
